# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: amhernandez <alejhern@student.42.fr>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/12/10 10:00:38 by amhernandez       #+#    #+#              #
#    Updated: 2024/12/10 10:02:54 by amhernandez      ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.o
*.d
ps_test
libft/libft.a
push_swa
libft/libft.a
push_swap
